{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

{% set today = "now"|date("Y-m-d") %}

<section id="projects_overview" class="container-fluid d-flex flex-column text-light vh-100 overflow-hidden p-3">

    <div class="d-flex flex-column flex-grow-1 h-100">

        <div class="d-flex align-items-center py-2">
            <h1>Projects Overview</h1>
            <span class="ms-4">{{ today }}</span>
        </div>

        <div class="row flex-grow-1 h-100 overflow-hidden">
            
            <div class="col-6 h-100 d-flex flex-column">
                <div class="bg-secondary rounded p-4 flex-grow-1 overflow-hidden">
                    <div id="calendar" class="h-100 scroll"></div>
                </div>
            </div>

            <div class="col-6 h-100 d-flex flex-column gap-3">
                
                <div class="bg-secondary rounded p-4 flex-grow-1 d-flex flex-column overflow-hidden">
                    <h2 class="h3 pb-2 m-0">Projects Progress</h2>
                    <div class="flex-grow-1 overflow-auto scroll">
                        {% if projects %}
                            {% for project in projects %}
                            <div class="pb-2 pe-2">
                                {% set progress = progressData[project.id] ?? 0 %}
                                {% if progress == 0 %}
                                    <p class="m-0">{{ project.title }}: <span class="small">Unstarted project</span></p>
                                {% else %}
                                    <p class="m-0">{{ project.title }}</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: {{ progress }}%; background-color: {{ project.color }};" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100">{{ progress }}%</div>
                                    </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                        {% else %}
                            <p class="warning m-0">No projects available.</p>
                        {% endif %}
                    </div>
                </div>

                <div class="bg-secondary rounded p-4 flex-grow-1 d-flex flex-column overflow-hidden">
                    <div class="d-flex justify-content-between align-items-center pb-2">
                        <h2 class="h3">Projects</h2>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('create_project') }}" class="btn primary mb-3">Create Project</a>
                        {% endif %}
                    </div>
                    <div class="flex-grow-1 overflow-auto scroll">
                        {% if projects %}
                            <div class="list-group pe-2">
                        {% for project in projects %}
                        <a href="{{ path('project', {'id': project.id}) }}">
                            <div class="d-flex justify-content-start align-items-center list-group-item rounded position-relative">
                                <p class="m-0 p-0">{{ project.title }}</p>
                                <div class="d-flex gap-1 ms-4">
                                    {% for member in project.members %}
                                    <img 
                                    src="{{ asset(member.profileImage ? 'uploads/' ~ member.profileImage : 'images/default-avatar.png') }}" 
                                    data-bs-toggle="tooltip" 
                                    data-bs-placement="top" 
                                    title="{{ member.name }}"
                                    class="avatar" 
                                    width="45" height="45">
                                    {% endfor %}
                                </div>
                                <div class="position-absolute more d-flex align-items-center">
                                    <form action="{{ path('edit_project', { 'id': project.id }) }}" method="post">
                                        <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ project.id) }}">
                                        <button class="btn btn-icon edit material-symbols-outlined">edit</button>
                                    </form>
                                    <form action="{{ path('delete_project', { 'id': project.id }) }}" method="post">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ project.id) }}">
                                        <button class="btn btn-icon delete material-symbols-outlined">delete</button>
                                    </form>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                            </div>
                        {% else %}
                            <p class="warning m-0">No projects available.</p>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Confirmation modal -->
    <div id="confirmDeleteModal" class="modal" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title text-black">Confirm deletion</h5>
            </div>
            <div class="modal-body text-black">
                <p>Are you sure you want to delete this project? This action is irreversible.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="cancelDelete">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">Confirm</button>
            </div>
        </div>
        </div>
    </div>

</section>

{% endblock %}



