{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

{% set today = "now"|date("Y-m-d") %}

<section id="projects_overview" class="container-fuid vh-100 d-flex flex-column text-light">

    <div class="d-flex align-items-center my-2">
        <h1>Projects Overview</h1>
        <span class="ms-4">{{ today }}</span>
    </div>

    <div class="d-flex flex-grow-1">

        <div class="section w-50 m-2">
            <div class="bg-tertiary rounded p-4 flex-grow-1">
                <div id="calendar"></div>
            </div>
        </div>

        <div class="section w-50 m-2">

            <div class="bg-tertiary rounded p-4 sub-section">
                <h2 class="mb-4">Projects Progress</h2>
                {% if projects %}
                    {% for project in projects %}
                    <div class="mb-2">
                        <p class="m-0">{{ project.title }}</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p class="warning m-0">No projects available.</p>
                {% endif %}
            </div>

                    <div class="bg-tertiary rounded p-4 sub-section">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h2>Projects</h2>
                            {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('create_project') }}" class="btn secondary">Create Project</a>
                            {% endif %}
                        </div>
                        {% if projects %}
                                {% for project in projects %}
                                    <div class="list-group">
                                        <a href="{{ path('project', {'id': project.id}) }}" class="list-group-item list-group-item-action">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="m-0 p-0">{{ project.title }}</p>
                                                <span class="material-symbols-outlined">
                                                    {% if app.user.id == project.owner.id or project.members|filter(member => member.id == app.user.id)|length > 0 %}
                                                        lock_open
                                                    {% else %}
                                                        lock
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                        {% else %}
                            <p class="warning m-0">No projects available.</p>
                        {% endif %}
                    </div>

                </div>

            </div>

</section>

{% endblock %}


