{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

{% set today = "now"|date("Y-m-d") %}

<section id="projects_overview" class="container-fluid d-flex flex-column text-light vh-100 overflow-hidden p-3">

    <div class="d-flex flex-column flex-grow-1 h-100">

        <div class="d-flex align-items-center py-2">
            <h1>Projects Overview</h1>
            <span class="ms-4">{{ today }}</span>
        </div>

        <div class="row flex-grow-1 h-100 overflow-hidden">
            
            <div class="col-6 h-100 d-flex flex-column">
                <div class="bg-secondary rounded p-4 flex-grow-1 overflow-hidden">
                    <div id="calendar" class="h-100 scroll"></div>
                </div>
            </div>

            <div class="col-6 h-100 d-flex flex-column gap-3">
                
                <div class="bg-secondary rounded p-4 flex-grow-1 d-flex flex-column overflow-hidden">
                    <h2 class="h3 pb-2 m-0">Projects Progress</h2>
                    <div class="flex-grow-1 overflow-auto scroll">
                        {% if projects %}
                            {% for project in projects %}
                            <div class="pb-2 pe-2">
                                <p class="m-0">{{ project.title }}</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%; background-color: {{ project.color }};" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <p class="warning m-0">No projects available.</p>
                        {% endif %}
                    </div>
                </div>

                <div class="bg-secondary rounded p-4 flex-grow-1 d-flex flex-column overflow-hidden">
                    <div class="d-flex justify-content-between align-items-center pb-2">
                        <h2 class="h3">Projects</h2>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('create_project') }}" class="btn primary mb-3">Create Project</a>
                        {% endif %}
                    </div>
                    <div class="flex-grow-1 overflow-auto scroll">
                        {% if projects %}
                        {% for project in projects %}
                            <div class="list-group pe-2">
                                <a href="{{ path('project', {'id': project.id}) }}" class="list-group-item list-group-item-action">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <p class="m-0 p-0">{{ project.title }}</p>
                                        <div class="d-flex gap-1">
                                            {% for member in project.members %}
                                            <span 
                                                class="material-symbols-outlined fs-1"
                                                data-bs-toggle="tooltip" 
                                                data-bs-placement="top" 
                                                title="{{ member.name }}"
                                            >
                                                account_circle
                                            </span>
                                            {% endfor %}
                                        </div>
                                        
                                        <span class="material-symbols-outlined">
                                            {% if app.user.id == project.owner.id or project.members|filter(member => member.id == app.user.id)|length > 0 %}
                                                lock_open
                                            {% else %}
                                                lock
                                            {% endif %}
                                        </span>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                        {% else %}
                            <p class="warning m-0">No projects available.</p>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}



