<!-- templates/partials/header.html.twig -->

<button class="btn primary btn-navbar" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop"><span class="material-symbols-outlined">menu</span></button>

<div class="navbar offcanvas offcanvas-start" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
    <div class="d-flex flex-column flex-shrink-0 bg-light h-100 w-100">
        <a href="{{ path('app_home') }}" class="d-flex justify-content-center p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
            <img src="https://img.icons8.com/pulsar-color/48/task-completed.png" alt="">
            <span class="visually-hidden">Icon-only</span>
        </a>
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
            <li class="nav-item">
                <a href="{{ path('app_home') }}" class="nav-link active py-3 border-bottom d-flex align-items-center justify-content-center" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <div class="d-flex align-items-center gap-2">
                        <span class="material-symbols-outlined">team_dashboard</span>
                        <p class="m-0">Dashboard</p>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link py-3 border-bottom d-flex align-items-center justify-content-center" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <span class="material-symbols-outlined">team_dashboard</span>
                </a>
            </li>
        </ul>
        <div id="user" class="dropdown p-4">
            <a href="#" class="d-flex align-items-center justify-content-start text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="material-symbols-outlined fs-1">
                    account_circle
                </span>
                <span class="d-none d-sm-inline mx-1">{{ app.user.name }}</span>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser">
                <li><a class="dropdown-item" href="{{ path('app_user_profile') }}">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
