{% extends 'base.html.twig' %}

{% block title %}Create Task{% endblock %}

{% block body %}
<section id="create_task_page" class="container d-flex justify-content-center">
    <div class="d-flex flex-column justify-content-center w-100 text-light bg-secondary m-5 p-4 rounded">
        <div class="mb-4 d-flex justify-content-between align-items-center">
            <h1>Create a New Task</h1>
            <a href="{{ path('app_home') }}" class="btn primary">Back to Overview</a>
        </div>

        {{ form_start(form) }}
            {{ form_row(form.title, { 'attr': {'class': 'form-control mb-3'} }) }}
            {{ form_row(form.description, { 'attr': {'class': 'form-control mb-3'} }) }}

            <div class="d-flex justify-content-center align-items-center gap-4">
                <button type="submit" class="btn success mt-4">Save</button>
            </div>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}
